<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!--   SQL dialect  to inform hibernate to generate the query specific to database engine  -->
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        <property name="hibernate.connection.username">root</property>
        
        <!--  optional  -->
        <property name="hibernate.show_sql">true</property>
		
		<!-- Inform HIBERNATE to display the query on the console it has generated internally in proper format  -->
        <property name="hibernate.format_sql">true</property>
  
        <!--  Inform HIBERNATE to create/alter/drop the table  -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.telusko.model.Student"/>
    </session-factory>
</hibernate-configuration>
